html {
  background-color: black;
}

.container-fluid {
  padding: 0;
}

body {
  background-color:black;;
}

.footer {
  margin: 0;
}

.choredoor {
  display: none;
}

.gamebg {
  background: black;
}
  
.header {
  text-align: center;
  margin-top: 8vw;
  max-width: 50%;
  height: auto;
  margin-left: 25%;
}

.instruction-row {
  text-align: left;
  width: 95%;
  margin-left: 5%;
}

.title-row {
  text-align: center;
}

.instructions-title {
  font-size: 4vw;
  color: white;
  font-family: "Times";
  width: 100%;
  text-align: left;
}

.instructions-number {
  padding-right: 1vw;
  font-family: "Times";
  font-size: 2vw;
  color: white;
  width: 20%;
}

.instructions-text {
  padding: 1vw;
  width: 80%;
  font-family: "Times";
  font-size: 1.5vw;
  color: white;
}

.door-row {
  text-align: center;
}

.door-frame {
  cursor: pointer;
  padding: 2vw;
}

.start-row {
  margin-left: 25%;
  width: 50%;
  height: auto;
  font-family: "Times";
  background-color: #e10000;
  font-size: 3vw;
  text-align: center;
  color: white;
  cursor: pointer;
}

/* Fading animation */

@-webkit-keyframes flickerAnimation{
    0%   { opacity:0; }
    80%  { opacity:1; }
    100% { opacity:0; }
}
.fading {
    -webkit-animation: flickerAnimation 5s infinite;
    margin-left: 25%;
    padding: 25% 0;
    width: 50%;
}
  