{% block main %}
    {# quotes #}
    </div>
        <div class="quotesheader">
      <div class="col col-12">
        <h1> Quotes </h1>
      </div>
    </div>
    <div class="row">
        <div class="card col-xs-12 col-sm-12 col-md-6" >
            <img class="card-img-top" src="../static/images/quotebg.png" alt="quotes">
            <div style="font-size:2vw;" class="quotetext card-body p-2">
            {{ Quote.content }}
            </div>
            <div class="quoteauthor card-body p-2">
            {{ Quote.author }}
            </div>
        </div>
        <div class="card col-xs-12 col-sm-12 col-md-6" >
            <img class="card-img-top" src="../static/images/quotebg.png" alt="quotes">
            <div style="font-size:2vw;" class="quotetext card-body p-2">
            {{ Quote.content }}
            </div>
            <div class="quoteauthor card-body p-2">
            {{ Quote.author }}
            </div>
        </div>
    </div>
{% endblock %}