{% extends "_main.jinja" %}

{% block title %} Password changed {% endblock %}

{% block main %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
        {% if message %}
            <h1 class="{{ category }}"> {{ message }}</h1>
        {% endif %}
    {% endfor %}
{% endwith %}

<script>
    setTimeout( () => {
        window.location.href={{ url_for("admin.view_adminpage") }};
    }, 2000);
</script>

{% endblock %}