{% extends "_main.jinja" %}

{% block title %} Aboutme {% endblock %}

{% block main %}
<!-- My profile -->
<section class="aboutme">
    <div class="row" >
        {# Personal card #}
        <div class="perinfo col col-12 col-md-6">
            <h1 class="headerpersonal"> Personal informations </h1>
            <div class="perinfocard">
                <div class="card-body">
                    <h4 class="my_name">Filip Kaluža</h4>
                    <img class="card-img-top myphoto" src="../static/images/photo.png">
                    <p class="card-text my-des-homepage">
                      Hi, greetings from the author of this website. I am an optimistic, purposeful and friendly person. In 2020, I set a goal to become a programmer, so let's go!</p>
                    <a href={{url_for("about.downloadCV")}} class="btn btn-danger">Download CV</a>
                </div>
            </div>
        </div>
        <div class="My_skills col col-12 col-md-6" >
            <h1 class="headerpersonal"> My skills </h1>
            <div class="slideshow-container">
            <!-- Full-width images with number and caption text -->
            <div class="mySlides fade" >
                <img class="img-fluid" src="../static/images/JS-logo.png">
                <div class="text">Javascript</div>
            </div>

            <div class="mySlides fade">
                <img class="img-fluid" src="../static/images/python-logo.png">
                <div class="text"> Python </div>
            </div>

            <div class="mySlides fade">
                <img class="img-fluid" src="../static/images/html-logo.png" >
                <div class="text">HTML</div>
            </div>

            <div class="mySlides fade">
                <img class="img-fluid" src="../static/images/css-logo.png">
                <div class="text">CSS</div>
            </div>

            <div class="mySlides fade">
                <img class="img-fluid" src="../static/images/bootstrap-logo.png">
                <div class="text">Bootstrap</div>
            </div>

            <div class="mySlides fade">
                <img class="img-fluid" src="../static/images/flask.png">
                <div class="text">Flask</div>
            </div>


            <!-- Next and previous buttons -->
            <a class="prev" onclick="plusSlides(-1)"">&#10094;</a>
            <a class="next" onclick="plusSlides(1)"" >&#10095;</a>"
        
            <br>

            <!-- DOTS under slides -->
            <div style="text-align:center">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
                <span class="dot" onclick="currentSlide(4)"></span>
                <span class="dot" onclick="currentSlide(5)"></span>
                <span class="dot" onclick="currentSlide(6)"></span>
            </div>
        </div>
    </div>
<script src={{url_for("static", filename="js/script.js") }}></script>
</section>

{% endblock %}

