<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<footer class="page-footer font-small">
    <div class="container-fluid">
        <div class="footer_nav row text-center d-flex justify-content-center pt-5 mb-3">
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                <a href="{{ url_for("home.view_homepage") }}">Home</a>
                </h6>
            </div>

            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                <a href="{{ url_for("about.view_aboutmepage") }}">About me</a>
                </h6>
            </div>

            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                <a href="{{ url_for("games.view_gameslist") }}">Games</a>
                </h6>
            </div>

            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                <a href="{{ url_for("view_contact") }}">Contact</a>
                </h6>
            </div>

            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                <a href="{{ url_for("admin.view_adminpage") }}"> Admin</a>
                </h6>
            </div>
        </div>

        <hr class="rgba-white-light" >

        <!-- Social buttons -->
        <div class="icon-bar social_media_buttons row">
            <div class="icons">
                <a href="https://www.facebook.com/filip.kaluza.9/" class="facebook"><i class="fa fa-facebook"></i></a>
                <a href="https://www.instagram.com/filipkaluza/?hl=en" class="instagram"><i class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/filip-kalu%C5%BEa-9a87b81b7/" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>
        </div>
        <!-- Social buttons -->
    </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center">© 2020 Copyright:
        <p> Filip Kaluža </p>
    </div>
<script src={{url_for("static", filename="js/script.js") }}></script>
</footer>


