<!doctype html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <title> {% block title %} {% endblock %} </title>
    {% block head %}
        {% include "_head.jinja" %} 
    {% endblock %}
</head>

<body>

<header>
        {% include "_nav.jinja" %}
</header>

<main>
    {% block main %} {% endblock %}
</main>

<footer>
    {% include "_footer.jinja" %}
    {% include "_cookie_policy_alert.jinja" %}
</footer>
</body>
</html>
