

{# NAVBAR #}
<div class="container-fluid nav bg-dark" id="navbar">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="border-color: #FFF">
        {# LOGO #}
        <a class="navbar-brand" href="{{ url_for("home.view_homepage") }}"> 
        <img class="img-brand-top" src={{ url_for("static", filename="images/logo1.png")}}>
        </a>
        {# MOBILE BUTTON #}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {# NAV #}
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href={{ url_for("home.view_homepage") }}>HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={{ url_for("about.view_aboutmepage") }}>ABOUT ME</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href={{ url_for("games.view_gameslist")}} id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                    GAMES
                    </a>
                    <ul class="dropdown-menu gamesnav" aria-labelledby="navbarDropdown" aria-controls="navbarSupportedContent" aria-expanded="hidden" aria-label="dropdown navigation">
                    <li><a class="dropdown-item" href={{ url_for("games.play_choredoor")}}>Chore door</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={{ url_for("view_contact")}}>CONTACT</a>
                </li>
                <li class="nav-item admin">
                    <a class="nav-link" href={{ url_for("admin.view_adminpage")}}>Admin</a>
                </li>
                {% if "logged" in session %}
                <li class="nav-item">
                    <a href={{ url_for("admin.logout_user") }}><button role="button" class="btn logout_btn">Logout</button></a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</div>


<script>
// When the user scrolls down 80px from the top of the document, resize the navbar's padding and the logo's font size
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 60) {
    document.getElementById("navbar").style.opacity="0";
  } else {
    document.getElementById("navbar").style.opacity="1"
  }
}
</script>
