{% extends "_main.jinja" %}

{% block title %} Contactpage {% endblock %}

{% block main %}
<!-- My profile -->
<section class="contact">
    <h1 class="contactheader"> I am currently in </h1>
    <div class="row">
        <div class="map map-responsive col col-12 col-md-6">
            <iframe class="img-fluid" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d83390.95758334058!2d18.678290471496396!3d49.22014487732233!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47145ea4e72cf5bd%3A0xe9a4e40ac6c36a0a!2zxb1pbGluYQ!5e0!3m2!1ssk!2ssk!4v1594718494076!5m2!1ssk!2ssk" frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
        <!-- contact form !-->
        <form class="col col-12 col-md-6" action="{{ url_for("view_contact") }}" method="post">
            {{ contactform.csrf_token }}
            <div class="form contact_form rounded-0">
                <div class="form-header contact_form_header text-center">
                    <div class="text-white">
                        <h3><i class="fa fa-envelope"></i> Contact me</h3>
                        <p class="m-0">0915 516 520</p>
                    </div>
                </div>
                <div class="form-body">
                    <!--Body-->
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-text col-6 col-md-3" ><i class="fa fa-user">  Name</i></div>
                            {{ contactform.name(class="form-control col-6 col-md-9", placeholder="Your name") }}
                            {% if contactform.name.errors %} 
                                <div class="col-12">
                                    {% for error in contactform.name.errors %}
                                        <p class="contact_form_error" > {{ error}} </p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-text col-6 col-md-3" ><i class="fa fa-envelope">  E-mail</i></div>
                            {{ contactform.email(class="form-control col-6 col-md-9", placeholder="Your e-mail") }}
                            {% if contactform.email.errors %}
                                <div class="col-12">
                                    {% for error in contactform.email.errors %}
                                        <p class="contact_form_error" > {{ error}} </p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group text-center">
                        <div class="input-group">
                            <div class="input-group-text col-6 col-md-3 text-field" ><i class="fa fa-comment">  Message</i></div>
                            {{ contactform.text(class="form-control col-6 col-md-9", placeholder="Your message") }}
                            {% if contactform.text.errors %}
                                <div class="col-12">
                                    {% for error in contactform.text.errors %}
                                        <p class="contact_form_error" > {{ error}} </p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    {{ contactform.recaptcha(class="g-recaptcha") }}
                    </div>
                    <div class="text-center send_message">
                        <input type="submit" value="Send message" class="contact_btn btn text-white btn-block">
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}